<div class="header-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="header-widget">
                    <ul>
                        <li><i class="icofont-clock-time"></i> Lundi - Dimanche Sauf Vendredi : 8:00AM - 19:00PM</li>
                        <li><i class="icofont-location-pin"></i> Thienaba Seck</li>
                        <li><i class="icofont-phone"></i> <a href="tel:+771905942">771905942</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-social text-right">
                    <ul>
                        
                        <li><a target="_blank" href="https://www.facebook.com/mbene dia"><i class="icofont-facebook"></i></a></li>
                        <li><a target="_blank" href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/mbene-dia-3526b4174/"><i class="icofont-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/mbene.dia.18/"><i class="icofont-instagram"></i></a></li>
                    </ul>
                </div>
            </div>              
        </div>
    </div>
</div>

<div class="navbar-area">
    <div class="mobile-nav">
        <!-- <a routerLink="/" class="logo">
            <img src="assets/img/logo.png" alt="logo">
        </a> -->
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <!-- <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo.png" alt="logo">
                </a> -->

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <!-- <a href="javascript:void(0)" class="nav-link dropdown-toggle">Acceil <i class="icofont-rounded-right"></i></a> -->
<!-- 
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    </a></li> -->
                                <!-- <li class="nav-item"><a routerLink="" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page 1</a></li>

                                <li class="nav-item"><a routerLink="/home-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Page 2</a></li> -->

                                <!-- <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"></a></li> -->
                            <!-- </ul>
                        </li> -->
                        
        
                        <li class="nav-item"><a routerLink="/acceuil" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Accueil</a></li>

                        <li class="nav-item"  style="white-space: nowrap;"><a routerLink="/produit" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Materielle Contruction</a></li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Sanitaire <i class="icofont-rounded-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/sanitaire" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Meuble Salle de bain</a></li>

                                <li class="nav-item"><a routerLink="/service-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Douce</a></li>

                                <!-- <li class="nav-item"><a routerLink="/service-three" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Service three</a></li>

                                <li class="nav-item"><a routerLink="/service-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Service details</a></li> -->
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Electricité <i class="icofont-rounded-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/eclairage" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Eclairage</a></li>

                                <li class="nav-item"><a routerLink="/cables" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Fils et Cables</a></li>

                                <li class="nav-item"><a routerLink="/prise" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Prises et Interruptions</a></li>
                                <!-- <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Protection Electrique</a></li> -->
                            </ul>
                        </li>
                        <!-- <ng-container *ngIf="this.user.role == 'client'"> -->
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Plomberie <i class="icofont-rounded-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/alimentation" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Alimentation D'eau</a></li>

                                <li class="nav-item"><a routerLink="/chauffe" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Chauffe Eau et Accessoires</a></li>

                                <li class="nav-item"><a routerLink="/robinet" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Robinets et Accessoires</a></li>
                                <!-- <li class="nav-item"><a routerLink="/error" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Evacuation D'eau</a></li> -->
                            </ul>
                        </li>
                        <!-- </ng-container> -->

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Cuisine <i class="icofont-rounded-right"></i></a>
                            
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/evier" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Eviers</a></li>

                                <li class="nav-item"><a routerLink="/robinet-cuisine" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Robinets Cuisine</a></li>
                                <!-- <li class="nav-item"><a routerLink="/team-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Accessoires Cuisine</a></li> -->
                            </ul>
                        </li>
                        <ng-container *ngIf="this.user.role == 'admin'">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Admin <i class="icofont-rounded-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/client/commande" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Liste des commandes</a></li>

                                <!-- <li class="nav-item"><a routerLink="/blog-right-sidebar" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Liste des livraisons</a></li>

                                <li class="nav-item"><a routerLink="/employer" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Les employer</a></li>
                                <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"></a></li> -->
                            </ul>
                        </li>
                        </ng-container>

                        <!-- <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li> -->
                    </ul>

                    <!-- <div>
                        <i class="icofont-plus-square"></i>
                        <a routerLink="/contact">Get Quote</a>
                    </div> -->
                    <!-- <div  class="navbar-button">
                        <button [routerLink]="['/produit','new']" routerLinkActive="router-link-active" type="button"
                            class="btn btn-primary" style="white-space: nowrap;">Ajout Produit  </button>
                    </div> -->
                    <!-- <div  class="navbar-button">
                        <button [routerLink]="['/commande','new']" routerLinkActive="router-link-active" type="button"
                            class="btn btn-primary">Commander   </button>
                    </div> -->
                    <!-- <ng-container  *ngIf="this.userService.islogin == false">
                        <div class="navbar-button"  style="white-space: nowrap;" >
                            <a routerLink="/inscription"><i class="icofont-login"></i> Creer un compte</a> &nbsp;
                        </div>
                    </ng-container>
                    
                    <ng-container *ngIf="this.userService.islogin == false">
                        <div class="navbar-button"  style="white-space: nowrap;">
                            <a routerLink="/login"><i class="icofont-login"></i> Se Connecter</a>
                        </div>
                    </ng-container>
                     -->
                    
                </div>
            </nav>
        </div>
    </div>
</div>