<div class="header-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="header-widget">
                    <ul>
                        <li><i class="icofont-clock-time"></i> Lundi - Dimanche Sauf Vendredi : 8:00AM - 19:00PM</li>
                        <li><i class="icofont-location-pin"></i> Thienaba Seck</li>
                        <li><i class="icofont-phone"></i> <a href="tel:+771905942">771905942</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-social text-right">
                    <ul>
                        
                        <li><a target="_blank" href="https://www.facebook.com/mbene dia"><i class="icofont-facebook"></i></a></li>
                        <li><a target="_blank" href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/mbene-dia-3526b4174/"><i class="icofont-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/mbene.dia.18/"><i class="icofont-instagram"></i></a></li>
                    </ul>
                </div>
            </div>              
        </div>
    </div>
</div>



<div class="navbar-area">
    <div class="mobile-nav">
        
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
               

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                                               
        
                        <li class="nav-item"><a routerLink="/acceuil" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Accueil</a></li>

                        <li class="nav-item"  style="white-space: nowrap;"><a routerLink="/produit" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Materielle Contruction</a></li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Sanitaire <i class="icofont-rounded-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/sanitaire" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Meuble Salle de bain</a></li>

                                <li class="nav-item"><a routerLink="/service-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Douce</a></li>

                                
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Electricité <i class="icofont-rounded-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/eclairage" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Eclairage</a></li>

                                <li class="nav-item"><a routerLink="/cables" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Fils et Cables</a></li>

                                <li class="nav-item"><a routerLink="/prise" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Prises et Interruptions</a></li>
                             
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Plomberie <i class="icofont-rounded-right"></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/alimentation" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Alimentation D'eau</a></li>

                                <li class="nav-item"><a routerLink="/chauffe" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Chauffe Eau et Accessoires</a></li>

                                <li class="nav-item"><a routerLink="/robinet" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Robinets et Accessoires</a></li>
                                               </ul>
                        </li>
                        

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Cuisine <i class="icofont-rounded-right"></i></a>
                            
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/evier" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Eviers</a></li>

                                <li class="nav-item"><a routerLink="/robinet-cuisine" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Robinets Cuisine</a></li>
                               
                            </ul>
                        </li>
                    

                    
                    </ul>

     
                    <!-- <div  class="navbar-button">
                        <button [routerLink]="['/commande']" routerLinkActive="router-link-active" type="button"
                            class="btn btn-primary">Commander   </button>
                    </div> -->

                    
      <ng-container *ngIf="this.userService.islogin == false ">
        <li class="drop-down"> 
              <a class="appointment-btn scrollto" [routerLink]="['/inscription']"  >S'inscrire</a>  </li>
      </ng-container>
      <ng-container   *ngIf="this.userService.islogin == false ">
        <li class="drop-down"> <a [routerLink]="['/login']" class="appointment-btn scrollto">Se connecter</a> </li>
      </ng-container>
                   
                    
                </div>
            </nav>
        </div>
    </div>
</div>


<!-- ======= Header ======= -->
<!-- <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a>GSMP</a></h1>
  
      <nav class="nav-menu d-none d-lg-block">
        <ul>
  
          <li class="active"> <a [routerLink]="['/bienvenue']" routerLinkActive="router-link-active" >Accueil</a></li>
          <ng-container *ngIf="this.user.role == 'client' && this.userService.islogin == true">
            <li class="nav-item" style="white-space: nowrap;" > <a [routerLink]="['/patient/accueil']" routerLinkActive="router-link-active"class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Materielle Contruction</a >
                <ul>
                  <li><a  [routerLink]="['/client/produit']" routerLinkActive="router-link-active"  >vos RV</a></li>
                </ul>
              
            </li>
            <li > <a [routerLink]="['/patient/memos']" routerLinkActive="router-link-active" >Pub</a> </li>
            <li > <a [routerLink]="['/patient/dm']" routerLinkActive="router-link-active" >Dossier Médical</a > </li>
            <li > <a [routerLink]="['/patient/profil']" routerLinkActive="router-link-active" >Profil</a > </li>
             
          </ng-container>
          <ng-container *ngIf="this.user.role == 'admin' && this.userService.islogin == true">
            <li><a  [routerLink]="['/assistant/rendez-vous']" routerLinkActive="router-link-active" >Rendez-Vous</a ></li>
              <li><a  [routerLink]="['/assistant/memos']" routerLinkActive="router-link-active" >Pub</a ></li>
              <li><a  [routerLink]="['/assistant/profil']" routerLinkActive="router-link-active" >profil</a ></li>
          </ng-container>
          <ng-container *ngIf="this.user.role == 'employer' && this.userService.islogin == true">
              <li class="drop-down" > <a  routerLinkActive="router-link-active" >Rendez-Vous</a >
                <ul>
                  <li><a  [routerLink]="['/medecin/rvs']" routerLinkActive="router-link-active">gestion RV</a></li>
                </ul>
            </li>
  
            <li> <a  [routerLink]="['/medecin/memos']" routerLinkActive="router-link-active" >Pub</a ></li>
            <li> <a  [routerLink]="['/medecin/patients']" routerLinkActive="router-link-active" >Patient</a ></li>
            <li> <a  [routerLink]="['/medecin/assistants']" routerLinkActive="router-link-active" >Assistant</a ></li>
            <li> <a  [routerLink]="['/medecin/profil']" routerLinkActive="router-link-active" >profil</a ></li>
          </ng-container>
    
          <ng-container *ngIf="this.userService.admin == true && this.userService.islogin == true">
          
              <li class="drop-down">  <a [routerLink]="['admin/accueil']" routerLinkActive="router-link-active"  > admin </a >
              <ul>
                  <li><a href="#">ajouter</a></li>
                  <li><a href="#">Liste</a></li>
              </ul>
            </li>
              <li> <a [routerLink]="['admin/list-notification']" routerLinkActive="router-link-active"  > Notification</a > </li>
              <li>  <a [routerLink]="['admin/list-rv']" routerLinkActive="router-link-active"  > Rendez-Vous</a > </li>
              <li class="drop-down" >  <a [routerLink]="['admin/accueil']" routerLinkActive="router-link-active"  > Pub</a > 
                <ul>
                    <li><a [routerLink]="['/admin/add-memos']" routerLinkActive="router-link-active"  >ajouter</a></li>
                    <li><a [routerLink]="['/admin/list-memos']" routerLinkActive="router-link-active">Liste</a></li>
                </ul>
              </li>
              <li class="drop-down" > <a [routerLink]="['admin/list-dm']" routerLinkActive="router-link-active"  > Dossier Médical </a > 
                <ul>
                   <li><a [routerLink]="['/admin/list-dm']" routerLinkActive="router-link-active">Liste</a></li>
                </ul>
              </li>
                <li class="drop-down">
                  <a href="">utilisateur</a>
                  <ul>
                    <li class="drop-down">  <a [routerLink]="['admin/accueil']" routerLinkActive="router-link-active"  > patient </a >
                      <ul>
                          <li><a [routerLink]="['/admin/add-patient']" routerLinkActive="router-link-active">ajouter</a></li>
                          <li><a [routerLink]="['/admin/list-patient']" routerLinkActive="router-link-active">Liste</a></li>
                      </ul>
                    </li>
                    <li class="drop-down">  <a [routerLink]="['admin/accueil']" routerLinkActive="router-link-active"  > Assistant </a >
                      <ul>
                          <li><a [routerLink]="['/admin/add-assistant']" routerLinkActive="router-link-active">ajouter</a></li>
                          <li><a [routerLink]="['/admin/list-assistant']" routerLinkActive="router-link-active">Liste</a></li>
                      </ul>
                    </li>
                    <li class="drop-down">  <a [routerLink]="['admin/accueil']" routerLinkActive="router-link-active"  > Medecin </a >
                      <ul>
                          <li><a [routerLink]="['/admin/add-medecin']" routerLinkActive="router-link-active">ajouter</a></li>
                          <li><a [routerLink]="['/admin/list-medecin']" routerLinkActive="router-link-active">Liste</a></li>
                      </ul>
                    </li>
                  </ul>
  
                </li>
             
              <li> <a [routerLink]="['admin/parametre']" routerLinkActive="router-link-active"  >Parametre </a ></li>
             
          </ng-container>
         
          <ng-container *ngIf="this.userService.islogin == false"  >
  
              <li><a  [routerLink]="['/contact']" >Nous Contact</a></li>
              <li>  <a  class="link" [routerLink]="['/inscription']"  routerLinkActive="router-link-active"> S'inscrire </a> </li>
          </ng-container>
                 
        </ul>
      </nav>
  
      <ng-container *ngIf="this.userService.islogin == true ">
        <li class="drop-down">   <a class="appointment-btn scrollto" (click)="logOut()" >Se déconnecter</a>  </li>
      </ng-container>
      <ng-container   *ngIf="this.userService.islogin == false ">
        <li class="drop-down"> <a [routerLink]="['/login']" class="appointment-btn scrollto">Se connecter</a> </li>
      </ng-container>
  
      </div>
  </header>
   -->
  