<div class="home-style-three home-bg-three">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-7 offset-lg-1">
                        <div class="home-text-three">
                            <h1>Bienvenue dans <br/> <span>Sounou Quincallerie</span></h1>
                            <p>
                                Nous vendons des matérielles de très bonnne qualité venant de tous 
                                les pays du monde.
                            </p>
                            <div class="theme-button">
                                <a routerLink="/produit" class="default-btn">TOUS NOS PRODUITS</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5 p-0">
                        <div class="home-image">
                            <img class="border-rounded" src="assets/img/Double-Va-et-Vient-Zenith-3-Marron-5207-20M.jpg" alt="home image">
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
    </div>
</div>

<section class="about-style-two pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img class="border-all-rounded" src="assets/img/lampe-750x460.png" alt="">
                    
                    <!-- <div class="counter-section">
                        <div class="counter-area"> -->
                            <!-- <div class="row align-items-center">
                                <div class="col-lg-4 col-md-6 col-6 offset-lg-2 col-xl-5 offset-xl-1">
                                    <div class="counter-text">
                                        <h2><span class="counter">1</span>K</h2>
                                        <p> Lavages effectués</p>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-6 col-xl-5">
                                    <div class="counter-text">
                                        <h2><span class="counter">1K</span></h2>
                                        <p>Clients satisfaits</p>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-6 offset-lg-2 col-xl-5 offset-xl-1">
                                    <div class="counter-text">
                                        <h2><span class="counter">100</span>%</h2>
                                        <p>Expertise</p>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-6 col-xl-5">
                                    <div class="counter-text">
                                        <h2><span class="counter">100</span>%</h2>

                                        <p>Produits écologiques</p>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pl-35">
                <div class="section-head">
                    <span>Qui sommes nous ?</span>
                    <h2>Nous ventons des produit  depuis 2010.</h2>
                    <p>
                      Sounou est à votre disponibilité pour vos besions pour équiper 
                      vos maisons avec des produits de nouvelle génération .
                    </p>

                </div>
                <div class="about-text">
                    
                    <p>
                       Nos boutiques sont décentralisés dans les villes du Sénégal 
                    </p>

                    <ul>
                        <li><i class="fas fa-city"></i> THIES</li>
                        <li><i class="fas fa-city"></i> Saint-Louis</li>
                        <li><i class="fas fa-city"></i> Dakar</li>
                        <!-- <li><i class="icofont-check-circled"></i> Paiement en ligne</li> -->
                        <li><i class="fas fa-city"></i> Tambacounda</li>
                        <li><i class="fas fa-city"></i>Mbour</li>
                    </ul>

                    <div class="theme-button">
                        <a routerLink="/about" class="default-btn">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="service-style-three pt-100 pb-70">
    <div class="container">
        <div class="section-head text-center">
            <span>Nos Produits</span>
            <h2>-</h2>
            <p>
                Nous nous engageons à fournir des produits de haute qualité.<br /> Notre objectif est de fournir à nos clients
               des produits meilleurs venant de tous les pays du monde.
               Ensuite nos produits sont à bas prix 
            </p>
        </div>

        <div class="service-slider owl-carousel owl-theme">
            <div class="service-item">
                <img src="assets/img/lavabo.jpg" alt="">
                
                <h3>Lavabo</h3>
                <p> Des lavabos de hautes qualité à des prix bas</p>

                <!--<div class="theme-button">
                    <a routerLink="/service-details" class="default-btn">Read More</a>
                </div>-->

                <div class="service-shape">
                    <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                </div>
            </div>

            <div class="service-item">
               <img src="assets/img/PRONET.png" alt="">
               
                <h3>Pronet Peinture</h3>
                <p> ?Prévention et protection contre la rouille.?Bonne opacité.
                    ? Bonne adhérance sur support saint.
                    ? Facilité d’aplication.
                </p>

                <!--<div class="theme-button">
                    <a routerLink="/service-details" class="default-btn">Read More</a>
                </div>-->

                <div class="service-shape">
                    <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                </div>
            </div>

            <div class="service-item">
               <img src="assets/img/culots-ampoules-LED.jpg" alt="">
                <h3>Ampoule Led</h3>
                
                <p>Des ampoules de très bon eclairage  </p>

                <!--<div class="theme-button">
                    <a routerLink="/service-details" class="default-btn">Read More</a>
                </div>-->

                <div class="service-shape">
                    <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                </div>
            </div>

            <div class="service-item">
                <i class="icofont-plus"></i>
                <h3>Plus d'informations ?</h3>
                <p>Cliquez sur le bouton suivant pour avoir plus d'informations sur nos services</p>

                <div class="theme-button">
                    <a [routerLink]="['/produit']" class="default-btn">En savoir plus</a>
                </div>

                <div class="service-shape">
                    <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                    <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                </div>
            </div>

           
        </div>
    </div>
</div>

<section class="why-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class=" ptb-100" >
                    <img src="assets/img/confi.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-us-text ptb-100">
                    <div class="section-head">
                        <span>Pourquoi nous ?</span>
                        <h2>Ayez confiance</h2>
                        <p>
                            Nous vendons des matéreilles 
                            de hautes marques et de  qualités 
                        </p>
                    </div>

                    <div class="media">
                        <i class="icofont-check align-self-start mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Equipement de derniére génération</h5>
                            <p>
                                Nous disposons d'équipements de dernière génération
                                de très bonne qualité.
                                De grandes marques pour vous satisfaire.
                               
                            </p>
                        </div>
                    </div>

                    <div class="media">
                        <i class="icofont-check align-self-start mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Rapidité</h5>
                            <p>
                                Des besions différents,
                                une équipe passionée à votre service
                            </p>
                        </div>
                    </div>

                    <div class="media">
                        <i class="icofont-check align-self-start mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Economiser du temps et de l'argent</h5>
                            <p class="mb-0">
                                Restez chez vous et faites votre commande, pendant que nous nous occupons de vos besoins.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="process-section process-style-three pb-70">
    <div class="container">
        <div class="section-head text-center">
            <span>Processus</span>
            <h2>Comment travaillons nous ?</h2>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore et
                dolore magna aliqua.</p>-->
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="process-card">
                    <i class="icofont-world"></i>
                    <h3>Commandez</h3>
                    <p>Faites votre commande en toute securité.</p>
                    <img src="assets/img/process-pattern-2.png" alt="arrow">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
               <div class="process-card">
                    
                    <i class="icofont-truck-loaded"></i>
                    <h3>Livraison</h3>
                    <p>Nous livrons partout au sénégal </p>
                    <img src="assets/img/process-pattern-2.png" alt="arrow">
                </div>
            </div>

            <div class="col-md-4 col-sm-6 offset-sm-3 offset-md-0">
                <div class="process-card">
                    <i class="icofont-recycle-alt"></i>
                    <h3>Vente</h3>
                    <p>Nos produits sont de très haute qualité .</p>
                </div>
            </div>
        </div>

        <div class="process-shapes">
            <img src="assets/img/process-pattern-3.png" alt="shape">
            <img src="assets/img/process-pattern-4.png" alt="shape">
            <img src="assets/img/process-pattern-5.png" alt="shape">
            <img src="assets/img/process-pattern-6.png" alt="shape">
            <img src="assets/img/process-pattern-7.png" alt="shape">
            <img src="assets/img/process-pattern-6.png" alt="shape">
        </div>
    </div>
</div>

<section class="pricing-section pb-70 mt-3">
    <div class="container">
        <!-- <div class="section-head text-center">
            <h2>Nos <span>forfaits</span></h2>
            <p>
                Chez Teranga Lavage, disposez de plusieurs forfaits au choix.
                Le concept de lavage à domicile sans eau vous permet également d’alléger vos charges fixes,
                de maîtriser votre budget entretien avec des tarifs adaptés pour répondre à vos exigences.
            </p>
        </div> -->

        <div class="row justify-content-around">
            <!-- <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let typeVehicule of typeVehicules"> -->
                <div class="price-card-area">
                    <!--<div class="price-head-text">
                        <h4>{{ typeVehicule?.nom }}</h4>
                        <h2><span>60</span>€</h2>
                    </div>-->

                    <!-- <div class="plan-features p-0 m-0">
                        <div class="mt-3">
                            <h4 class="text-center">
                                <span>
                                    {{ typeVehicule?.nom }}
                                </span>
                            </h4>
                        </div> -->
                    </div>

                    <!-- <div class="plan-btn ">
                        <a (click)="openDetailsDrawer(typeVehicule)">
                            Voir
                        </a>
                        <br>
                        <div class="mt-3">
                            <h4>
                                <span class="badge badge-dark">
                                    <i class="icofont-{{typeVehicule?.icon}} icofont-2x" style="font-size: 25px;"></i>
                                </span>
                            </h4>

                        </div>
                    </div> -->
                </div>
            </div>
        <!-- </div> -->

    <!-- </div> -->
</section>

